.content{
    max-width: 600px; 
    border: 1px solid grey ;
    padding: 100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px; 
    font-size: 20px; 
}
.title{
    text-align: center;
    letter-spacing: 3px;
    line-height: .5;
}
.title h2{
    font-size: 20px;
    font-weight: lighter;
    color: #006EB6;
}
.underline {
    text-decoration: none; 
    border-bottom: 1px solid lightgrey; 
    display: inline-block;
    position: relative;
    width: 100%; 
  }
main{
    line-height: 1.5;
}
.list{
    text-align: left;
}
.logo{
    display: block;
    margin:auto;
    width: 150px;
    
}
